/* ------------------------------------- 
* 共通
------------------------------------- */
body {
    background-color: #fbfbfb;
}

.flex {
    display: flex;
    padding: 5vh 5vw;
}

.three {
    width: 30vw;
    margin: 0 1vw;
    background-color: gray; 
}

.icon {
    width: 10vw;
}

/* ------------------------------------- 
* TOP画像
------------------------------------- */

.topimage {
    position: relative;
    top: 0;
    height: 80vh;
}

.image {
    background-image: url('../img/image.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -30vw;
}

.image::before {
    z-index:0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(211,211,211,0.3);
}

.topText {
    position: absolute;
    width: 30vw;
    top: 30vh;
    right: 10vw;
}

/* ------------------------------------- 
* 必要性
------------------------------------- */
.face {
    width: 5vw;
    margin: 0 2vw;
    background-color: gray;
}

.talk {
    width: 60vw;
    margin: 0 2vw;
    background-color: gray;
}

.faceicon {
    width: 3vw;
}
