/************************************************ 
** PC用
*************************************************/
.main {
    position: relative;
    top: 10vh;
    overflow: scroll;
    z-index: 10;
    padding: 5vh 3vw;
}

.certificationArea {
    margin-bottom: 8vh;
}

.textlist {
    display:flex;
    display:-webkit-box;
    display:-ms-flexbox;
    flex-flow: column;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    margin-bottom: 5vh;
}

.tuotorArea {
    display: flex;
    /* flex-wrap: wrap; */
}

.tuotorArea p {
    margin-bottom: 3vh;
}

.tuotor {
    width: 20vw;
    margin: 3vh 2.5vw;
    padding: 3vh 2.5vw;
    background-color: #e8dedf;
    border-bottom: solid 6px #d72835;
    border-right: solid 6px #d72835;
}

.noimg {
    width: 180px;
    height: 250px;
}

/* ------------------------------------- 
* スマホ用
------------------------------------- */
@media screen and (max-width:480px){
    .tuotorArea {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .tuotor {
        width: 220px;
        margin: 3vh 20px;
        padding: 3vh 10px;
        background-color: #e8dedf;
        border-bottom: solid 6px #d72835;
        border-right: solid 6px #d72835;
    }
}
