/* https://www.colordic.org/monotone/ */
/* http://sweetdrop.net/sweetcolor.html */
/* テーマカラー：d3d3d3 */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0.5vw;
}

html {
    font-size: 4vw;
}

body {
    line-height: 5vw;
}

#body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #d3d3d3;
}

#header {
    top: 0px;
    position: fixed;
    height: 100px;
    width: 100%;
    border: solid red 1px;
}

#main {
    height: 90vh;
    padding-top: 1vh;
    width: 100%;
    overflow: scroll;
    
}

#footer {
    bottom: 0px;
    height: 10vh;
    width: 100%;
    padding: 0 1%;
    position: fixed;
    display: flex;
    background-color: #cccccc;
}

.block {
    display: flex;
    height: 40vh;
    margin-bottom: 1.5vh;
    background-color: white;
}

.tuotorImage {
    width: 28vh;
    padding-right: 2vw;
}

.offerDate {
    text-align: left;
}

.Date {
    height: 33%;
    padding-top: 2vh;
}

.footerList {
    width: 25%;
    text-align: center;
    padding-bottom: 1vh;
}

/* .footerList p {
    position: absolute;
    bottom: 1vh;
} */

.footerFirst {
    background-color: #d65c5c;
    color: white;
}

.footerImage {
    width: 70%;
    height: 70%;
    padding-top: 10%;
    padding-bottom: 10%;
}